<% if setname != "" %>
	<h1 class="mainpagetitle"><%= setname %></h1>
<% else %>
	<h1 class="mainpagetitle">Random Beyonce</h1>
<% end %>

<iframe id="beyonce" width="853" height="480" src= <%= result %>></iframe>
