<html> 
	<head>
		<title>Random Beyonce Video</title>
		<link rel="stylesheet" type="text/css" href="../style.css"> 
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="navbar">
			<ul style= "list-style-type: none; margin: 0; padding: 0;">
				<li style= "display: inline; margin-right: 35px;"><a href="/">Home</a></li>
				<li style= "display: inline; margin-right: 35px;"><a href="/sets">Playlists</a></li>
				<li style= "display: inline; margin-right: 35px;"><a href="/sets/new">New Playlist</a></li>
			</ul>
		</div>

			<div class='main'>
				<%= yield %>
			</div>

	</body>
</html>