<div class="playlists">

<form action="/sets" method="post">
<label class="new_label">
	Setlist
	<input type="text" name="setname">
	</label>
<label class="new_label">
	Description
	<input type="text" name="description">
	</label>
<label class="new_label">
	<br>Videos<br>
	<textarea rows=4 name="videolist">
		
	</textarea> 
</label>

<div id="new_submit">    
	<input type="submit" value="Submit">
</div>

</form>

</div>
