<div class="playlists">
	<form action="/sets" method="post">
		<label class="new_label">
			<p>Setlist</p>
			<input type="text" name="setname">
		</label>

		<label class="new_label">
			<p>Description</p>
			<textarea rows=6 cols=30 name="description"></textarea>
		</label>

		<label class="new_label">
			<p>Videos</p>
			<textarea rows=6 cols=30 name="videolist"></textarea> 
		</label>

		<div id="new_submit">    
			<input type="submit" value="Submit">
		</div>
	</form>
</div>
