
<form action="/sets" method="post">
<label>
	Setlist
	<input type="text" name="setname">
	</label>
<label>
	Description
	<input type="text" name="description">
	</label>
<label>
	Videos
	<textarea rows=4 name="videolist">
		
	</textarea> 
    
	<input type="submit" value="Submit">
</form>

