<% session[:sets].each do |setname, values| %>
	<%= setname%>: <%= session[:sets][setname.to_sym]["description"]%>
	<form action=<%= "/sets/" + setname.to_s %> method="get">
		<input type="submit" value="View">
	</form>
<% end %>
		