.main{
	width: 1000px;
	height: 100%;
	margin: 10 auto;
	background: rgba(255,255,255,0.3);
}

body {
	background-image: url('background.jpg');
	background-size: cover;
}


#navbar {
	width: 100% - 3px;
	background: rgba(255,255,255,0.3);
	padding: 7px;
	border-radius: 5px;
	/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); */
}

#navbar * {
	color: red;
	opacity: 1;
}

iframe {
	margin: 0 auto;
	margin: auto;
	border: 3px black;
}

