body {
	background-image: url('background.jpg');
	background-size: cover;
}

#navbar {
	width: 100% - 3px;
	background: rgba(255,255,255,0.3);
	padding: 7px;
	border-radius: 5px;
	text-align: center;
	/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); */
}

#navbar * {
	color: red;
	opacity: 1;
}

#navbar ul li a {
	text-decoration: none;
	color: black;
}

.main{
	width: 1000px;
	height: 100%;
	margin: 10 auto;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px 15px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 15px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 15px rgba(0,0,0,0.75);
}

iframe {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 30px;
	border: 3px black;
}

