#background {
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: url('background.jpg');
	background-size: cover;
	-webkit-filter: blur(4px);
	position: absolute;
	margin-top: -15px;
	margin-left: -8px;
}

#container{
	z-index: 1;
}

#navbar {
	margin-top: 15px;
	width: 100% - 3px;
	background: rgba(0,0,0,0.6);
	padding: 7px;
	border-radius: 5px;
	text-align: center;
}

#navbar ul li a {
	text-decoration: none;
	color: gray;
	font-family: 'Open Sans', sans-serif;
	transition: ease-in 0.2s;
}

#navbar ul li a:hover {
	color: white;
	transition: ease-in 0.2s;
}

#navbar, #beyonce {
	box-shadow: 0px 0px 139px -15px rgba(238,238,238,1);
}

.main{
	width: 1000px;
	height: 100%;
	margin: 10 auto;
	/*background: rgba(255,255,255,0.3);
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px 15px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 15px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 15px rgba(0,0,0,0.75);*/
}

.mainpagetitle {
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
		
}

iframe {
	display: block;
	margin: 0 auto;s
	position: relative;
	top: 30px;
	border: 3px black;
}

ul.playlists{
	
	font-size: 20px;
	color: #FFFFFF;
	list-style-image: url('http://www.gifs.net/Animation11/Nature/Stars/Yellow_twinkle.gif');
}
.words{
	opacity:1;
}

#oneset{
	max-width: 600px;
	text-align: center;
}
.playlists{
	font-family: 'Open Sans', sans-serif;
	background: rgba(255,255,255,0.4);
	padding: 40px;
	max-width: 600px;
	margin: 60px auto;
	border-radius: 30px;
			overflow: hidden;
			color: white;
	box-shadow: 0px 0px 139px 5px rgba(238,238,238,1);
}

.new_label {
	display: block;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.new_label p {
	margin-top: 20px;
	margin-bottom: 3px;
	color: white;
}

#new_submit {
	margin-top: 30px;
	text-align: center;
}